# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

### IDE files
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

### build files
.idea/
.sass-cache/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
www/build/

### OS files
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

### ionic/cordova files
platforms/
plugins/

### packaged app files
*-linux-ia32/
*-linux-x64/
*-win32-ia32/
*-darwin-x64/
*-mas-x64/
*-win32-x64/
